
body {
    line-height: 1.4em;
    font-family: Verdana, sans-serif;
}

#home, #reg_btn, #reload {
    display: none;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}
p{
    padding: 10px;
}

.set{
    margin-top: 10px;
}
.topnav{
    background-color: #3A4B4C;
    padding: 10px;
}
.content{
    margin: 0px 50px 50px 50px;
}